---

layout: default

---


<h1>MDC-Copyright</h1>

<p>
  Es folgen die Metadaten Definitionen des MDC-Copyright Kataloges:
  {% for mddef in site.data.mdc-copyright.MDCat %}
    {% for def in mddef.MDDef %}
      <p>
        id: {{def.-id}} <br>
        Label: {{def.Label}} <br>
        MDDefMetadata: {{def.MDDefMetadata}} <br>
        type: {{def.-type}} <br>
        {% if def.TypeSpec != nil %}
        typeSpec: {{def.TypeSpec}} <br />
        {% endif %}
        {% if def.Value != nil %}
        Value: {{def.Value}}
        {% endif %}
      </p>
    {% endfor %}
  {% endfor %}
</p>
