---

layout: default
title: MDC Core

---

{% include mdc-intro.html %}

{% for def in site.data.mdc-core.MDCat.MDDef %}
<p>

  <strong>id:</strong> {{def.id}} <br />

  <strong>Das Label der Metadaten Definition ist: </strong><br>

  {% for label in def.Label %}
    Sprache des Labels: {{label.xmlLang}} <br />
    Text des Labels: {{label.text}} <br>
  {% endfor %}

  {% if def.MDDefMetadata != nil %}
  <strong>Es sind folgende Metadaten über die Metadaten Definitionen verfügbar:</strong> <br />
    {% for cat in def.MDDefMetadata.MD.cat %}
      cat: {{cat}} <br />
    {% endfor %}

    {% for def in def.MDDefMetadata.MD.def %}
      def: {{def}} <br />
    {% endfor %}

    {% for text in def.MDDefMetadata.MD.text %}
      text: {{text}} <br />
    {% endfor %}
  {% endif %}

  <strong>Folgende Type Informationen sind vorhanden:</strong> <br />
  {% if def.type != nil %}
      type: {{def.type}} <br>
  {% endif %}

  {% if def.TypeSpec != nil %}
  typeSpec: {{def.TypeSpec}} <br />
  {% endif %}

  {% if def.Value != nil %}
  <strong>Die folgenden Werte sind erlaubt: <br /></strong>
  {% endif %}
  {% for value in def.Value %}
    {% if value != nil %}

      Value id : {{value.id}} <br />
      {% for value_info in value.Label.text %}
        Value Label: {{value_info}} <br />
      {% endfor %}
    {% endif %}
  {% endfor %}

</p>

{% endfor %}
